# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node
node_modules/
dist/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Misc
.terraform/
*.tfstate
*.tfstate.backup
